body {
  background-color: #dadada;
  font-size: 75%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.preview h1 {
  position: absolute;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 18px;
  font-family: serif;
  text-transform: capitalize;
}

.preview {
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

img {
  max-height: 125%;
  max-width: 125%;
  top: -5%;
  left: -5%;
  bottom: -5%;
  right: -5%;
  position: absolute;
  z-index: -1;
}

/** ipad **/
@media screen and (min-width: 575px){
  .preview {
    height: 200px;
    max-width: 48vw;
    overflow: hidden;
    float: left;
    position: relative;
    margin: 1vw;
  }

  img {
    max-height: 200%;
    max-width: 200%;
    object-fit: contain;
    top: -5%;
    left: -5%;
    bottom: -5%;
    right: -5%;
    position: absolute;
    z-index: -1;
  }
}

/** website **/
@media screen and (min-width: 991px){
  .preview {
    height: 25vh;
    max-width: 19.5vw;
    overflow: hidden;
    float: left;
    position: relative;
    margin: .25vw;
  }

  img {
    min-height: 125%;
    min-width: 125%;
    max-height: 200%;
    max-width: 200%;
    top: -5%;
    left: -5%;
    bottom: -5%;
    right: -5%;
    position: absolute;
    z-index: -1;
  }

  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
