*, *:before, *:after {
  box-sizing: border-box;;
}

body {
  background-color: #dadada;
  font-size: 75%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.preview h1 {
  position: absolute;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 18px;
  font-family: serif;
  text-transform: capitalize;
}

.preview {
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.baku {
  background-image: url("/images/baku.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.london {
  background-image: url("/images/london.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url("/images/madrid.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rome {
  background-image: url("/images/rome.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}


/** ipad **/
@media screen and (min-width: 575px){
  .preview {
    height: 250px;
    max-width: 48vw;
    overflow: hidden;
    float: left;
    position: relative;
    margin: 1vw;
  }
}

/** website **/
@media screen and (min-width: 991px){
  .preview {
    height: 25vh;
    max-width: 19.5vw;
    overflow: hidden;
    float: left;
    position: relative;
    margin: .25vw;
  }

  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
